<div class="bg-white">
  <div class="max-w-7xl mx-auto py-16 px-4 sm:px-6 lg:py-20 lg:px-8">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <div>
        <h2 class="text-3xl font-extrabold text-gray-900">Frequently asked questions</h2>
        <p class="mt-4 text-lg text-gray-500">Can’t find the answer you’re looking for? Email the founder – that's me, Joe! – at <a href="#" class="font-medium text-cyan-600 hover:text-cyan-500">joe@railsdevs.com</a>.</p>
      </div>
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <dl class="space-y-12">
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.developers.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.developers.a") %></dd>
          </div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.fee.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.fee.a_html") %></dd>
          </div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.part_time.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.part_time.a_html") %></dd>
          </div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.annual.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.annual.a_html") %></dd>
          </div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.cancellation.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.cancellation.a_html") %></dd>
          </div>
          <div>
            <dt class="text-lg leading-6 font-medium text-gray-900"><%= t("pricing.v2.faq.support.q") %></dt>
            <dd class="mt-2 text-base text-gray-500"><%= t("pricing.v2.faq.support.a_html") %></dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</div>
