<div class="bg-white">
  <%= render "pricing/v3/header" %>
  <%= render "pricing/v3/brand" %>
  <%= render "pricing/v3/stats" %>
  <%# render "pricing/v3/testimonials" %>
  <%= render "pricing/v3/testimonial" %>
  <%# render "pricing/v3/faq" %>
  <%= render "pricing/v3/faq2" %>
  <%# render "pricing/v3/cta" %>
  <%= render "pricing/v3/cta2" %>
</div>
