<div class="bg-white">
  <div class="bg-gray-50">
    <!-- Header section -->
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h1 class="text-base font-semibold text-cyan-600 uppercase tracking-wide">Pricing</h1>
        <p class="mt-1 text-4xl font-extrabold text-gray-900 sm:text-5xl sm:tracking-tight lg:text-6xl">Hire Ruby on Rails developers</p>
        <p class="max-w-lg mx-auto mt-5 text-xl text-gray-500">Directly connect with hundreds of Ruby on Rails developers looking for their next gig.</p>
      </div>
    </div>
  </div>

  <!-- Split brand panel -->
  <div class="relative bg-white">
    <div class="absolute inset-0" aria-hidden="true">
      <div class="absolute inset-y-0 right-0 w-1/2 bg-gradient-to-r from-cyan-600 to-green-400"></div>
    </div>
    <div class="relative max-w-7xl mx-auto lg:grid lg:grid-cols-2 lg:px-8">
      <div class="bg-white py-16 px-4 sm:py-24 sm:px-6 lg:px-0 lg:pr-8">
        <div class="max-w-lg mx-auto lg:mx-0">
          <h2 class="text-base font-semibold tracking-wide text-cyan-600 uppercase">Full-featured</h2>
          <p class="mt-2 text-2xl font-extrabold text-gray-900 sm:text-3xl">Level up your hiring with railsdevs</p>
          <dl class="mt-12 space-y-10">
            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <%= inline_svg_tag "icons/outline/user_group.svg", class: "h-6 w-6 text-white" %>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Exclusively Ruby on Rails developers</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Cut through the noise and save time with a candidate pool where everyone is a Ruby on Rails developer.</dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <%= inline_svg_tag "icons/outline/chat.svg", class: "h-6 w-6 text-white" %>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Talk directly to developers</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Skip the formal job postings and middlemen. Start organic conversations with candidates in one click.</dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <%= inline_svg_tag "icons/outline/thumb_up.svg", class: "h-6 w-6 text-white" %>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Hand-selected matches</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Kick off your search with a manually curated list of 5-10 developers based on your specific requirements.</dd>
            </div>

            <div class="relative">
              <dt>
                <div class="absolute h-12 w-12 bg-gradient-to-r from-cyan-600 to-green-400 rounded-md flex items-center justify-center">
                  <%= inline_svg_tag "icons/outline/mail.svg", class: "h-6 w-6 text-white" %>
                </div>
                <p class="ml-16 text-lg leading-6 font-medium text-gray-900">Email updates of new candidates</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">The newest talent on railsdevs sent right to your inbox, daily or weekly.</dd>
            </div>
          </dl>
        </div>
      </div>
      <div class="bg-gradient-to-r from-cyan-600 to-green-400 py-16 px-4 sm:py-24 sm:px-6 lg:bg-none lg:flex lg:items-center lg:justify-end lg:px-0 lg:pl-8">
        <div class="max-w-lg mx-auto w-full space-y-8 lg:mx-0">
          <div>
            <h2 class="sr-only">Price</h2>
            <p class="relative grid grid-cols-2">
              <span class="flex flex-col text-center">
                <span class="text-5xl font-extrabold text-white tracking-tight">$299</span>
                <span class="mt-2 text-base font-medium text-cyan-100">per month</span>
                <span class="sr-only">plus</span>
              </span>
              <span class="pointer-events-none absolute h-12 w-full flex items-center justify-center" aria-hidden="true">
                <!-- Heroicon name: outline/plus -->
                <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
              </span>
              <span>
                <span class="flex flex-col text-center">
                  <span class="text-5xl font-extrabold text-white tracking-tight">10%</span>
                  <span class="mt-2 flex justify-center items-center text-base font-medium text-cyan-100">
                    <span>hiring fee</span>
                    <a href="#full-time-fee" class="ml-1.5">
                      <%= inline_svg_tag "icons/solid/question_mark_circle.svg", class: "h-5 w-5 text-cyan-100 hover:text-cyan-200" %>
                      <span class="sr-only">Hiring fee help</span>
                    </a>
                  </span>
                </span>
              </span>
            </p>
          </div>
          <ul role="list" class="rounded overflow-hidden grid gap-px sm:grid-cols-2">
            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Highly targeted profiles</span>
            </li>

            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Direct communication</span>
            </li>

            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Hand-selected matches</span>
            </li>

            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Email notifications</span>
            </li>

            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Priority support</span>
            </li>

            <li class="bg-cyan-700 bg-opacity-50 py-4 px-4 flex items-center text-base text-white">
              <!-- Heroicon name: outline/check -->
              <svg class="h-6 w-6 text-cyan-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
              </svg>
              <span class="ml-3">Support indie devs</span>
            </li>
          </ul>
          <a href="#" class="w-full bg-white border border-transparent rounded-md py-4 px-8 flex items-center justify-center text-lg leading-6 font-medium text-cyan-700 hover:bg-cyan-50 md:px-10"> Get started today </a>
        </div>
      </div>
    </div>
  </div>

  <!-- Stats -->
  <div class="bg-gray-50 pt-12 sm:pt-16">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto text-center">
        <h2 class="text-3xl font-extrabold text-gray-900 sm:text-4xl">The Rails-only hiring platform</h2>
        <p class="mt-3 text-xl text-gray-500 sm:mt-4">Organic, genuine conversations with higher response rates than LinkedIn or cold email.</p>
      </div>
    </div>
    <div class="mt-10 pb-12 bg-white sm:pb-16">
      <div class="relative">
        <div class="absolute inset-0 h-1/2 bg-gray-50"></div>
        <div class="relative max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <div class="max-w-4xl mx-auto">
            <dl class="rounded-lg bg-white shadow-lg sm:grid sm:grid-cols-3">
              <div class="flex flex-col border-b border-gray-100 p-6 text-center sm:border-0 sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">Rails developers</dt>
                <dd class="order-1 text-5xl font-extrabold text-cyan-600">400+</dd>
              </div>
              <div class="flex flex-col border-t border-b border-gray-100 p-6 text-center sm:border-0 sm:border-l sm:border-r">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">Response rate</dt>
                <dd class="order-1 text-5xl font-extrabold text-cyan-600">55%</dd>
              </div>
              <div class="flex flex-col border-t border-gray-100 p-6 text-center sm:border-0 sm:border-l">
                <dt class="order-2 mt-2 text-lg leading-6 font-medium text-gray-500">New devs a month</dt>
                <dd class="order-1 text-5xl font-extrabold text-cyan-600">60+</dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonials -->
  <section class="bg-cyan-700">
    <div class="max-w-7xl mx-auto md:grid md:grid-cols-2 md:px-6 lg:px-8">
      <div class="py-12 px-4 sm:px-6 md:flex md:flex-col md:py-16 md:pl-0 md:pr-10 md:border-r md:border-cyan-800 lg:pr-16">
        <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-cyan-500" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <p class="relative">With railsdevs I'm able to focus on getting my product to market instead of spending hours finding developers.</p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                <%= image_tag "testimonials/stefan.png", class: "h-12 w-12 rounded-full" %>
              </div>
              <div class="ml-4">
                <div class="text-base font-medium text-white">Stefan Manku</div>
                <div class="text-base font-medium text-cyan-100">Founder, <%= link_to "Dietary Menu", "https://dietarymenu.com/", target: "_blank" %></div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
      <div class="py-12 px-4 border-t-2 border-cyan-800 sm:px-6 md:py-16 md:pr-0 md:pl-10 md:border-t-0 md:border-l lg:pl-16">
        <blockquote class="mt-6 md:flex-grow md:flex md:flex-col">
          <div class="relative text-lg font-medium text-white md:flex-grow">
            <svg class="absolute top-0 left-0 transform -translate-x-3 -translate-y-2 h-8 w-8 text-cyan-500" fill="currentColor" viewBox="0 0 32 32">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <p class="relative">I did in days what it took me weeks to do on other platforms.</p>
          </div>
          <footer class="mt-8">
            <div class="flex items-start">
              <div class="flex-shrink-0 inline-flex rounded-full border-2 border-white">
                <%= image_tag "testimonials/sean.png", class: "h-12 w-12 rounded-full" %>
              </div>
              <div class="ml-4">
                <div class="text-base font-medium text-white">Sean Murphy</div>
                <div class="text-base font-medium text-cyan-100">Founder, <%= link_to "HyThere", "https://hythere.co", target: "_blank" %></div>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </section>

  <!-- FAQs -->
  <section aria-labelledby="faq" class="max-w-2xl mx-auto px-4 divide-y divide-gray-200 sm:px-6 lg:max-w-7xl lg:px-8 py-16 sm:py-24">
    <h2 id="faq" class="text-3xl font-extrabold text-gray-900"><%= t("pricing.v2.faq.title") %></h2>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-5"><%= t("pricing.v2.faq.developers.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.developers.a") %></p>
          </dd>
          <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.subscription.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.subscription.a") %></p>
          </dd>
          <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.features.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.features.a") %></p>
          </dd>
          <dt id="full-time-fee" class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.fee.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.fee.a_html") %></p>
          </dd>
          <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.annual.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.annual.a_html") %></p>
          </dd>
          <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.cancellation.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.cancellation.a_html") %></p>
          </dd>
          <dt class="text-base font-medium text-gray-900 md:col-span-5 mt-8 md:mt-0"><%= t("pricing.v2.faq.support.q") %></dt>
          <dd class="mt-2 md:mt-0 md:col-span-7">
            <p class="text-base text-gray-500"><%= t("pricing.v2.faq.support.a_html") %></p>
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <!-- CTA section -->
  <div class="bg-gradient-to-r from-cyan-600 to-green-400">
    <div class="max-w-2xl mx-auto py-16 px-4 text-center sm:py-20 sm:px-6 lg:px-8">
      <h2 class="text-3xl font-extrabold text-white sm:text-4xl">
        <span class="block">The hard work's already done.</span>
        <span class="block text-cyan-900">Start hiring with railsdevs today.</span>
      </h2>
      <a href="#" class="mt-8 w-full bg-cyan-50 border border-transparent rounded-md py-3 px-5 inline-flex items-center justify-center text-base font-medium text-cyan-700 hover:bg-cyan-100 sm:w-auto">Get started today</a>
    </div>
  </div>
</div>
